body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: darkgray;
}

.jumbotron {
  background-color: rgb(6, 54, 133);
  color: white;
}

.team-area {
  color: black;
  background-color: aliceblue;
}

.employee-card {
  margin: 1.5rem;
  padding: auto;
  background-color: rgba(248, 16, 16, 0.985);
}

.card-title {
  font-size: 1.7rem;
}